@-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }

@import "compass/css3";
@import "helpers";
@import "normalize";
@import "script";
@import "grid";

// Color definitions

$wai: #930;
$w3c: #036;

// MQ variables

$small:  25em; //* 400px */
$medium: 43em; //* 700px */
$big:    56em; //* 900px */
$large:  81em; //* 1300px */

// Grid systems variable

$total_columns:     12;         //              //
$total_width:       100%;      // px|100%      // px = fixed, 100% = fluid
$gutter_width:      2%;         // px|%         // px = fixed, % = fluid
$container_margin:  0.5%;         // auto|px|%    //

@include font-face("Noto Sans", font-files("notosans-regular.woff2", "notosans-regular.woff"), false);
@include font-face("Noto Sans", font-files("notosans-italic.woff2", "notosans-italic.woff"), false, normal, italic);
@include font-face("Noto Sans", font-files("notosans-bold.woff2", "notosans-bold.woff"), false, bold);
@include font-face("Noto Sans", font-files("notosans-bolditalic.woff2", "notosans-bolditalic.woff"), false, bold, italic);
@include font-face("Fira Code", font-files("firacode-regular.woff2", "firacode-regular.woff"), false);

.font-primary, .font-secondary {
	font-family: "Trebuchet MS", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	.fonts-loaded &{
		font-family: "Noto Sans", "Trebuchet MS", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	}
}

pre, code {
	.fonts-loaded &{
		font-family: "Fira Code", monospace;
	}
}

// Body

html {
	overflow-x:hidden;
	// hyphens: auto;
}

body {
	overflow-x:hidden;
	counter-reset: examples approaches;
	@extend .font-primary;
	background-color: #F5F5F5;
	color: #333;
	font-size: percentage(15/16);
	line-height: 1.5;
	max-width: 1680px;
	margin: 0 auto;
	@include mq($medium) {
		font-size: 100%;
	}
	@include mq($big) {
  	font-size: 112.5%;
  }
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 21/18 * 1em;
}

h4 {
	font-size: 1em;
	margin: 1.5em 0 1em;
}

.permalink.h4 {
	margin-top: .75em;
}

p+ul {
	margin-top: .5em;
	li:first-child p:first-child {
		margin-top: 0;
	}
}

ul + p, ul + div {
	clear:left;
	padding-top: .5em;
}

ul {
	&.nobullets {
		padding: 0;
		li {
			list-style: none;
		}
	}
	&.withicons {
		padding-left: 80px;
		li {
			float:left;
			width: 100%;
		}
		img {
			margin-left: -80px;
			margin-bottom: .5em;
			float: left;
			clear: left;
		}
	}
}

.ex, .ap {
	b, &:before {
		color: $wai;
		font-weight: inherit;
	}
}

.risky {
  &:after {
    @extend .font-secondary;
    background-color: $wai;
    color: #fff;
    font-weight: normal;
    border-radius: 100%;
    width: 1.2em;
    height: 1.2em;
    margin-left: .6em;
    line-height: 1.2;
    text-align: center;
    display: inline-block;
    content: "!";
  }
}


.no-js {
	.ex {
		counter-increment: examples;
		counter-reset: approaches;
		&:before {
			content: 'Example ' counter(examples) ': ';
		}
		&.inap {
			counter-reset: none;
		}
	}

	.newap {
		counter-reset: approaches;
	}

	.newex {
		counter-reset: examples;
	}


	h2.first, h3.first, .newexap {
		counter-reset: examples approaches;
	}

	.ap {
		counter-increment: approaches;
		&:before {
			content: 'Approach ' counter(approaches) ': ';
		}
	}
}

.inner {
	a {
		color: $w3c;
		&:hover, &:visited {
			color: $wai;
		}
	}
	>p>img {
		max-width: 100%;
	}
}

// Header

header[role=banner] {
	@include container();
	margin-bottom: 1em;
	border-top: 5px solid $wai;
	div {
		margin: 0 auto;
		@include mq($medium) {
			float: right;
		}
	}
	img {
		display:inline-block;
		vertical-align: middle;
	}
	a {
			text-decoration: none;
			display: inline-block;
			&:hover, &:focus {text-decoration: underline;}
	}
}

// Main

#tools {
	@include container-full();
	margin: 2em 0;
	background-color: #eee;
	font-size: 1.5em;

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow:hidden;
	}
	li {
		width: 45%;
		line-height: 1.1;
		box-sizing:border-box;
		> span {
			display:inline-block;
			padding: .25em 0;
			.dir {
				font-size: 0.75em;
				text-align: left;
				display: block;
			}
		}
		a {
			display:block;
			text-decoration: none;
			border: none;
			position: relative;
			color: $w3c;
			&:hover, &:focus {
				text-decoration: underline;
			}
			&:before, &:after {
				font-size: 0.75em;
				content: '';
				position: absolute;
				bottom:.25em;
			}
		}
		&.prev {
			float:left;
			padding-left: 1em;
			a:before {
				left: -1.25em;
				@extend .icon;
				@extend .icon-arrow-left;
				@extend .icon-with-visible-text;
			}
		}
		&.next {
			float:right;
			text-align: right;
			padding-right: 1em;
			a:after {
				right: -1.25em;
				@extend .icon;
				@extend .icon-arrow-right;
				@extend .icon-with-visible-text-before;
			}
		}
	}
}

.mainpage {
	margin-bottom: 0;
	font-weight: normal;
	position: relative;
	border-bottom:10px solid #F5F5F5;
	a {
		display: block;
		background-color: $w3c;
		color: #fff;
		font-size: 1em;
		line-height: 1.5;
		padding: 0 .25em .25em;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
		&:before {
			@extend .icon;
			@extend .icon-with-visible-text;
			@extend .icon-home;
			content: "";
			vertical-align: top;
		}
	}
}

main {
	display:block;
	clear: both;
	@include container();
}

// Footer
//
// Markup: <footer role="contentinfo"></footer>

footer {
	display: block;
	clear:both;
	border: 5px solid #993300;
	border-width: 5px 0;
	font-size: 0.8em;
	margin-top: 2em;
	padding: 1em 0;
	>div {
		@extend main;
	}
	h2 {
		@extend .visuallyhidden;
		font-size: 1em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
}



// Headings
//
// Markup: <h1>Heading Level 1</h1>
// <h2>Heading Level 2</h2>
// <h3>Heading Level 3</h3>
// <h4>Heading Level 4</h4>
// <h5>Heading Level 5</h5>
// <h6>Heading Level 6</h6>
//
// Styleguide 1.4

h1, h2, h3 {
	@extend .font-secondary;
	font-weight: bold;
	.subheading {
		display: block;
		@extend .font-primary;
		font-size: 0.55em;
		margin: 0.25em;
	}
}

h4 {
	font-weight: bold;
}

.page-title {
	font-size: 1.75em;
	@extend .font-secondary;
	margin-bottom: 1em;
	line-height: 1;
	padding: .25em 0 0;
	float:none !important;
	.subheading {
		padding: .25em 0 0;
		display:block;
		font-size: .5em;
		@extend .font-primary;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

a {
	color: $w3c;
	.content & {
		border-bottom: 1px solid;
		text-decoration: none;
		color: $w3c;
		&:visited {
			color: lighten(#535, 10%);
		}
	}
	&:hover, &:focus {
		color: #005A9C;
		cursor: pointer;
		.content & {
			border-bottom: 3px solid;
		}
	}
}

.notes {
	// padding-left: 1.5em;
	color: #444;
	font-size: percentage(16/18);
	/*&:before {
		@extend .icon;
		@extend .icon-info;
		content: '';
		float: left;
		margin-left: -1.5em;
	}*/
}

.bulletless {
	&, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.breadcrumb {
	line-height: percentage(44/18);
	color: $w3c;
	a, svg {
		color: currentColor;
		fill: currentColor;
	}
	a {
		&:hover, &:visited {
			color: $wai;
		}
	}
	.icon {
		font-size: percentage(13/18);
	}
}

.list-heading {
	ul + & {
		margin-top: 2em;
	}
	position: relative;
	@extend .font-primary;
	font-size: 1em;
	margin: 0;
	text-align: center;
	background-color: $w3c;
	margin-bottom: 2px;
	color: #fff;
	line-height: percentage(44/18);
	font-weight: bold;
	-moz-osx-font-smoothing: grayscale;
	&:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(119, 119, 119, 0); border-top-color: $w3c; border-width: 7px; margin-left: -7px; z-index: 500; }
}

.alltutorials {
	a {
		@extend .btn;
	}
}

.navigation {
	.status {
		font-size: 0.65em;
		display: inline-block;
		background-color: #FFF;
		line-height: 1;
		vertical-align: middle;
		border-radius: 1em;
		padding: .1em .5em;
		font-weight: bold;
		text-transform: uppercase;
	}
	.current-a .status {
		background-color: #666;
		color: #fff;
	}
	ul {
		background-color: #ddd;
		counter-reset: navli;
		&.topics {
			a, .current-a {
				.count:before {
					content: "\00a0"; // Don’t display counter
				}
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			display: table;
			width: 100%;
			list-style-type: none;
			counter-increment: navli;     /* Increment the section counter */
			&.intro, &.tips {
				counter-increment: none;
				.count:before {
					content: "\00a0"; // Don’t display counter
				}
			}
			a, .current-a {
				display: table-row;
				text-decoration: none;
				width: 100%;
			}
			a {
				&:hover, &:focus {
					.txt {
						text-decoration: underline;
					}
				}
			}
			.count {
				display: table-cell;
				width: 1.75em;
				margin-right: 0.75em;
				text-align: center;
				border-right: 1px solid #777;
				&:before {
					content: counter(navli); /* Display the counter */
				}
			}
			.txt {
				display: table-cell;
				position: relative;
				padding: .25em .25em .25em 12px;
				line-height: 1.5;
			}

			.current-a {
				background-color: #F5F5F5;
				color: #333;
				.count {
					background-color: $wai;
					color: #fff;
				}
				.txt:after {
					left:-1px;top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 0, 0, 0); border-left-color: $wai; border-width: 7px; margin-top: -7px;
				}
			}
		}
	}
}

.tutorial-heading {
	margin-bottom: 1em;
	h1 {
		margin-bottom: 0;
		font-size: percentage(42/18);
		position: relative;
		margin-top: 0;
		margin-bottom: 10px;
		color: $w3c;
		line-height: 1;
	}
	p {
		padding: 0;
		margin: 0;
	}
}

.with-side-menu {
	@include mq($medium) {
		@include container();
	}
	.navigation {
		@include mq($medium) {
			@include column(4);
		}
		@include mq($big) {
			@include column(3);
		}
		@include mq($large) {
			@include column(2);
		}
	}
	.content {
		@include mq($medium) {
			@include column(8);
			@include push(4);
		}
		@include mq($big) {
			@include column(9);
			@include push(3);
		}
		@include mq($large) {
			@include column(10);
			@include push(2);
		}
	}
}

.content {
	@include container();
	h2 {
		margin-top:0;
	}
	&.draft, &.editors-draft, &.approved-draft{
		.tutorial-heading h1 {
			line-height: 1;
			&:before {
				display: block;
				@extend .font-primary;
				font-weight: bold;
				padding: 0 .2em;
				//vertical-align: middle;
				font-size: .5em;
				margin-top: .5em;
				//margin-right: .25em;
				color: #666;
			}
		}
	}
	&.approved-draft {
		.tutorial-heading h1 {
			&:before {
				content: "[APPROVED DRAFT]";
			}
		}
	}
	&.draft {
		.tutorial-heading h1 {
			&:before {
				content: "[DRAFT]";
			}
		}
	}
	&.editors-draft {
		.tutorial-heading h1 {
			&:before {
				content: "[ROUGH DRAFT]";
			}
		}
	}
	.inner {
		@include mq($big) {
			@include column(8);
		}
		padding:0 !important;
	}
	a[href^="http"]:after {
		@extend .icon;
		@extend .icon-external-link;
		content: "";
		display: inline-block;
		margin-left: 0.5em;
	}
	.sample {
		a[href^="http"]:after {
			display:none;
		}
	}
}

%annotation {
	max-width:50%;
	@include mq($medium) {
		width: percentage(1/2) - 8%;
		margin-left: 3%;
		max-width: auto;
	}
	@include mq($big) {
		width: percentage(1/2) - 4%;
		margin-right: -1 * (percentage(1/2) + 1.5%);
	}
	padding-left:1%;
	float:right;
	border-left: 2px solid $wai;
	margin-top: 1em;
	clear: both;
	%annotation-header {
		margin-top:0;
		margin-bottom: 0;
		// font-weight: bold;
		color: $wai;
		.subhead {
			color: #333;
			font-size: .8em;
			display: block;
		}
	}
	%annotation-content {
		font-size: percentage(16/18);
		:first-child {
			margin-top: 0;
		}
		:last-child {
			margin-bottom: 0;
		}
	}
}

.annotation {
	@extend %annotation;
}

.annotation-header {
	@extend %annotation-header;
}

.annotation-content {
	@extend %annotation-content;
}

.status {
	padding: .25em .5em;
  margin-bottom: 1em;
	h3, p {
		display:inline;
		color: inherit;
		font-size: 1em;
	}
	.draft & {
		background-color: #CFC;
	}
	.editors-draft & {
		background-color:#FCC;
	}
}

.not-w3c-notification {
	display:block;
	float:none !important;
	background-color:#FCC;
	padding: .65em .5em;
	font-weight: bold;
	a {
		border-bottom:2px solid;
	}
}


%noting {
	position: relative;
	&:before, &:after {
		position:absolute;
	}
	&:after {
		font-weight: bold;
		display: block;
		transform-origin: left bottom;
		transform: rotate(90deg);
		top:-1em;
		left: 100%;
	}
	&:before {
		border-radius: 0 .5em .5em 0;
		content: '';
		left: 100%;
		top:0;
		width:1.5em;
		bottom:0;
	}
}

.todo {
	@extend %noting;
	font-size: .8em;
  background-color: lighten(#f00, 40%);
  > .figcontent {
    padding: 0 !important;
  }
	&:after {
		content: "TODO";
		color: #fff;
	}
	&:before {
		background-color: #f00;
	}
}

pre {
	font-size: 0.75em;
	margin: 0;
}

figure {
	clear: both;
	margin: 1em 0;
	@include mq($big) {
		clear: none;
	}
	&.sample, &.code, &.todo {
		@extend .box;
		> figcaption {
			@extend .box-caption;
		}
		> .figcontent {
			@extend .box-content;
		}
	}
	p {
		@extend .box-content;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	&.code {
		//width:150%;
		@extend .box-secondary;
		pre {
			background: none;
			@extend .box-content;
			>code {
				display:block;
			}
		}
	}
	&.sample {
		@extend .box-primary;
		figcaption {
			color: $w3c;
		}
		.box-content {
			font-size: .9em;
			th, td, caption {
				padding: .3em;
			}
		}
		a, a:hover {
			border: none;
			text-decoration: underline;
		}
	}
	&.todo {
		border-left-color: darken(#f00, 20%) !important;
		figcaption {background-color: darken(#f00, 20%); color: #fff}
		> .figcontent {background-color: lighten(#f00, 40%);}
		&:before, &:after {display:none;}
	}
	&.toc {
		+ *, + span + *, + span + aside + * {
			margin-top: 0;
		}
		@extend %annotation;
		margin-top: 0;
		border:none;
		font-size: 0.9em;
		padding-left: 0 !important;
		// background: linear-gradient(to bottom, $w3c, rgba($w3c, 0));
		border-radius: .25em .25em 0 0;
		ul {
			margin: 0;
			padding-left: 1.25em;
			line-height: 1.5;
		}
		figcaption {
			@extend .list-heading;
			padding-left: .5em;
			text-align: left;
			&:after {
				left: 3em;
			}
		}
		> .figcontent {
			padding:.3em;
			// background-color: #DDD;
			background: linear-gradient(to bottom, #ddd, #f5f5f5);
			border-bottom: 1px solid #ddd;
			a {
				display:block;
				padding: 0 0 .1em;
				border-bottom: none;
				color: $w3c;
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
			> ul {
				list-style-type: disc;
				color: $w3c;
			}
		}
	}
}

.box {
	margin: 1em 0;
	border-left: 5px solid;
	background-color: #E8E8E8;
}
.box-primary {
	border-color: $w3c;
}
.box-secondary {
	border-color: #777;
}
.box-caption {
	font-weight: bold;
	padding: .375em .75em 0;
	text-transform: uppercase;
	font-size: 0.75em;
	@extend .font-primary;
	.box-primary & {
		color: $w3c;
	}
	.box-secondary & {

	}
}
.box-content {
	overflow:auto;
	padding: .5em;
	>p, >ul, >ol {
			&:first-child {
			margin-top: 0;
		}
	}
	>p, >ul, >ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Table

table {
	&.changes {
		margin-bottom: 2em;
		caption {
			background-color: #ccc;
			border: 1px solid #999;
			border-width: 1px 1px 0;
			padding: .5em;
			font-weight: bold;
			text-align: left;
		}
	}
	caption {
		text-align: left;
	}
	th {
		text-align: left;
		background-color: #ccc;
	}
	th, td {
		padding: .5em;
		border: 1px solid #999;
	}
	&.results {
		clear: both;
		width: 100%;
		.result {
			text-align: center;
		}
	}
}

table, tr {
	&.numbers td {
		text-align: right;
	}
}

// Forms

.form-submitTestCase {
	width:75%;
	margin: 0 auto;
}

form {
	fieldset {
		margin-bottom: 1em;
		legend + p {
			margin-top: 0;
		}
	}
	button {
		&[type=submit] {
			float:right;
		}
	}
}

input[type=submit], button {
  &:focus {
    box-shadow: 0 0 5px lighten($w3c, 30%);
  }
}

// Search input

[role=search] {
	input {

	}
}

// Form Block

.form-block {
	display: table;
	width: 100%;
	border: 1px solid #999;
	border-radius: .5em;
}

// Form Row

.form-row {
	display: table-row;
	label, > span {
		border-top: 1px solid #999;
		display: table-cell;
		vertical-align: middle;
		padding: .5em;
	}
	&:first-child {
		label, > span {
			border-top: none;
		}
	}
	&:nth-child(even) {
		background-color: #f3f3f3;
	}
	&:nth-child(odd) {
		background-color: #eee;
	}
	label {
		width: 25%;
	}
	input, select, textarea {
		width: 90%;
	}
	textarea {
		height: 3em;
	}
}

// Selects

select {
	padding: .25em;
	font-size: 1em;
}

// Buttons

.btn {
	background: linear-gradient(to bottom, lighten(#ccc, 10%), #ccc);
	color: #333;
	font-weight: normal;
	font-size: 1em;
	line-height: percentage(44/18);
	padding: .25em .5em;
	border: {
		color: #ccc;
		width: 1px;
		style: solid;
		radius: .25em;
	}
	&:hover {
		color: #333;
	}
}

.btn-primary {
	@extend .btn;
	background: linear-gradient(to bottom, lighten($w3c, 10%), $w3c);
	color: #fff;
	border-color: darken($w3c, 10%);
	&:hover, &:focus {
		color: #fff;
		text-decoration: underline;
	}
}

.btn-small {
	@extend .btn;
	padding: .15em .2em;
	line-height: 1.75;
}

.btn-icon {
	border: none;
	background-color: transparent;
	padding: 0;
}

.btn-next {
	float:right;
}

.btn-jump {
	display: block;
	margin: 0 1em 1em;
	text-align: center;
	@include mq($medium) {
		position: absolute;
		left: -1000em;
		&:focus {
			position: static;
			left:0;
		}
	}
}

.permalink {
	display:inline;
	position: relative;
	font-size: .7em;
	float:right;
	margin: 0 0 .5em .5em;
	> a {
		color: #666 !important;
		border:1px solid #F5F5F5;
		padding: .5em;
		&:hover {
			border:1px solid;
		}
		display: inline-block;
		vertical-align: middle;
		margin-left: .5em;
		font-weight: bold;
		white-space: nowrap;
		svg {
			vertical-align: middle;
			display: inline-block;
		}
	}
	.sharebox {
		display:none;
		&.open {
			display:block;
		}
		position: absolute;
		z-index: 999;
		top:120%;
		right: 0;
		background: #ddd;
		border: 1px solid #777;
		padding: .5em;
		min-width: 20em;
		max-width: 100%;
		box-shadow: 0 0 10px #222;
		input {
			display: block;
			width: 100%;
			box-sizing: border-box;
		}
		label span {
			display: block;
			text-align: right;
		}
		button {
			@extend .btn-small;
			position:absolute;
			bottom:0;
			right:0;
		}
		p:first-child {
			margin-top: 0;
		}
	}
}

#icon-share {
	fill: currentColor;
}

.decision-tree {
	list-style: none;
	margin: 1em 0;
	padding:0;
	> li {
		> strong {
			display: block;
			padding: 1em .5em;
		}
		border: 2px solid #999;
		border-top:none;
		&:first-child {
			border-top:2px solid #999;
		}
		> ul {
			padding:0;
			list-style: none;
			.flexbox & {
				display:flex;
				flex-direction: row-reverse;
				flex-wrap: wrap;
				align-items: stretch;
			}
			border-top: 1px dotted #aaa;
			> li {
				text-indent: 0;
				box-sizing: border-box;
				font-weight: normal;
				.flexbox & {
					flex-basis: 25%;
				}
				padding: .5em;
				// border: 1px solid #aaa;
				&:nth-child(odd) {
					.flexbox & {
						flex-basis: 75%;
					}
				}
				&:nth-child(odd):last-child {
					display:block;
					flex-basis:100%;
				}
				ul {
					padding:0;
					margin:0;
				}
				li {
					padding: 0;
					padding-bottom: 0.5em;
					margin-bottom: 0.5em;
					border-bottom: 1px solid #888;
					list-style: none;
					> em {
						display: block;
						padding-left: 1.5em;
						position: relative;
						margin-top: .25em;
						font-style: normal;
						&:before {
							position:absolute;
							@extend .icon;
							@extend .icon-arrow-right;
							content: '';
							top:.2em;
							margin-left: -1.5em;
						}
					}
					&:last-child {
						border-bottom-style: none;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.yes {
		background-color: #D9EDF7;
		border-bottom: none;
		li {
			list-style: disc;
			margin-left: 1em;
			&:only-child {
				list-style: none;
			}
		}
	}
	.no {
		border-right:1px dotted #aaa;
		background-color: #F2DEDE;
		border-bottom: none;
		position: relative;
		&:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(119, 119, 119, 0); border-top-color: #F2DEDE; border-width: 1em; margin-left: -.5em; z-index: 500; }
		&:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(119, 119, 119, 0); border-top-color: #999; border-width: 1.2em; margin-left: -.7em; z-index: 400; }
	}
}

.resources {
	margin-top: 2em;
	outline: .25em solid #fff;
	background-color: #FFF;
	border: 1px solid #ccc;
	padding-top: 0;
	.resources-inner {
		padding: 0 .625em;
		font-size: 0.8em;
		p:first-child {
			margin-top: 0;
		}
	}
	h2 {
		padding-top:0 !important;
		margin-bottom: 1em;
		padding: .25em .5em;
		background-color: #F0F0F0;
			font-size: 1em;
			margin: 0;
	}
	.permalink.h2 {
		margin-top: 0;
	}
}

/* ====== ICONS   ======== EDIT ABOVE! ======== */

.icon {
	display:inline-block;
	height: 1em;
	width: 1em;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
	vertical-align: middle;
	fill: currentColor;
}

.icon-with-visible-text {
	margin-right:.25em;
}

.icon-with-visible-text-before {
	margin-left:.25em;
}

@import 'icons-png';
.svg {
	@import 'icons-svg';
}

.symbol {
	float: left;
	margin: 0 1em 1em 0;
	@include mq($medium) {
		float:right;
		margin: 0 0 1em 1em;
	}
}

/* ====== HELPERS ======== EDIT ABOVE! ======== */

// Grid System

// Column wrapper

.grid {
	@include container();
}

.with-filter {
	clear: both;
	@include mq($medium) {
		h3>button {display:none;}
		.column-first {
			@include column(4);
		}
		.column-second {
			@include column(8);
			@include push(4);
		}
	}
	&.with-basket {
		@include mq($medium) {
		h3>button {display:none;}
		.column-first {
			@include column(3);
		}
		.column-second {
			@include column(7);
			@include push(3);
		}
		.column-third {
			@include column(2);
			@include push(10);
		}
	}
	}
}

.column {
	@include column(12);
}

@include mq($medium) {
	.onehalf {
		@include column(6);
	}
	.one3rd {
		@include column(4);
	}
	.two3rds {
		@include column(8);
	}
	.one4th {
		@include column(3);
	}
	.two4ths {
		@extend .onehalf;
	}
	.three4ths {
		@include column(9);
	}
	.one6th {
		@include column(2);
	}
	.two6ths {
		@extend .one3rd;
	}
	.three6ths {
		@extend .onehalf;
	}
	.four6ths {
		@extend .two3rds;
	}
	.five6ths {
		@include column(10);
	}
}

.last {
	@include column_omega();
}

// Flush right

.flush.right {
	float:right;
}

.technologies {
	@extend %annotation;
	font-size: 0.9em;
	border:none !important;
	margin-bottom: 2em;
	strong, div {
		padding: .5em;
		display: block;
	}
	strong {
		padding-bottom: 0;
	}
	span {
		display: inline-block;
		border-radius: 1em;
		line-height: 1;
		padding: 0 .45em;
	}
	.tech {
		background-color: #ddd;
		border: 1px solid;
	/*	span {
			padding: .125em .25em .125em .125em;
			border-radius: 0 1em 1em 0;
		}
		&.ok span {
			background-color: green;
			color: #fff;
		}
		&.wip span {
			background-color: yellow;
		}*/
	}
}

.side-box {
	border:1px solid #666 !important;
	border-radius: .5em;
	padding:1em;
	margin: 2em 0;
	.heading {
		font-weight: bold;
		font-size: 1em;
		margin: 0 !important;
		padding: 0 !important;
		+ p {
			margin-top: 0.5em;
		}
	}
}

.editpage {
	text-align: center;
	margin-top: 1em;
	padding: .5em 0 0;
	border-top: 1px solid #ccc;
}

[fragmention] {
	box-shadow: 0 0 10px #aaa;
}

[fragmention]:focus {
	box-shadow: 0 0 10px $w3c;
	outline-color: $w3c;
}

ul.inline {
	display:inline;
	li {
		display:inline;
		&:before {
			content: ", "
		}
		&:first-child {
			&:before {
				content: '';
			}
		}
		&:last-child {
			&:before {
				content: ', and ';
			}
			&:after {
				content: '.';
			}
		}
		&:last-child {
			&:nth-child(2) {
				&:before {
					content: " and ";
				}
			}
			&:first-child {
				&:before {
					content: '';
				}
			}
		}
	}
}


.reference {
	@extend %annotation;
	font-size: .85em;
	:first-child {
		margin-top: 0;
	}
	:last-child {
		margin-bottom: 0;
	}
}

.ref-container {
  /*&, * {border: 1px solid red;}*/
  @include mq($small) {
    display:flex;
    justify-content: space-between;
  }
  @include mq($big) {
    margin-right: -51.515151515%;
  }
  .ref-main {
    box-sizing: border-box;
    flex: 0 0 66%;
    /*margin-right: 1em;*/
		margin-bottom: 1em;
  }
  .ref-side {
    box-sizing: border-box;
    flex: 0 0 30.36%;
    font-size: .9em;
    /*margin-left: 1em;*/
    position:relative;
    > div {
      padding: .5em;
      padding-left: 3em;
      border: 2px solid $wai;
      border-radius: 2px;
    }
    svg {
      stroke: $wai;
      position:absolute;
      left: .5em;
      top: .4em;
    }
		a {
			color: $wai;
		}
  }
  .ref-main,.ref-side > div {
    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.demo-container {
  /*&, * {border: 1px solid red;}*/
  @include mq($small) {
    display:flex;
    justify-content: space-between;
  }
  @include mq($big) {
    margin-right: -51.515151515%;
  }
  .demo-main {
    box-sizing: border-box;
    flex: 0 0 66%;
    /*margin-right: 1em;*/
		margin-bottom: 1em;
  }
  .demo-side {
    box-sizing: border-box;
    flex: 0 0 30.36%;
    font-size: .9em;
    /*margin-left: 1em;*/
    position:relative;
    > div {
      padding: .5em;
      padding-left: 3em;
      border: 2px solid $w3c;
      border-radius: 2px;
    }
    svg {
      stroke: $w3c;
      position:absolute;
      left: .5em;
      top: .25em;
    }
		a {
			color: $w3c;
		}
  }
  .demo-main,.demo-side > div {
    *:first-of-type {
      margin-top: 0;
    }
    *:last-of-type {
      margin-bottom: 0;
    }
  }
}

.sideimage {
	border: 1px solid $w3c;
	margin: 0 1em .5em;
	border-radius: 2px;
	&.left {
		float: left;
		margin-left: 0;
	}

	&.right {
		float: right;
		margin-right: 0;
	}
}

@media print {
	body {
		background-color: #fff;
	}
	figure {
		page-break-inside: avoid;
	}
	.permalink, .navigation, .github, .btn-jump {
		display: none;
	}
	.content a[href^="http"]:after, .content a[href^="#"]:after {
		content: " (" attr(href) ") ";
		color: #666;
		background-image:none !important;
		width: auto;
		height: auto;
	}

}
