@-ms-viewport { width: device-width; } @-o-viewport { width: device-width; } @viewport { width: device-width; }

@import "compass/css3";
@import "helpers";
@import "normalize";
@import "script";
@import "grid";



// MQ-Variables

$small:  25em; //* 400px */
$medium: 43em; //* 700px */
$big:    56em; //* 900px */
$large:  81em; //* 1300px */

// Grid systems variable

$total_columns:     12;         //              //
$total_width:       100%;      // px|100%      // px = fixed, 100% = fluid
$gutter_width:      2%;         // px|%         // px = fixed, % = fluid
$container_margin:  0.5%;         // auto|px|%    //

// Font definitions

@include font-face("Vollkorn", font-files("vollkorn/vollkorn-regular.woff"), "vollkorn/vollkorn-regular.eot");
@include font-face("Vollkorn", font-files("vollkorn/vollkorn-italic.woff"), "vollkorn/vollkorn-italic.eot", normal, italic);
@include font-face("Vollkorn", font-files("vollkorn/vollkorn-bold.woff"), "vollkorn/vollkorn-bold.eot", bold);
@include font-face("Vollkorn", font-files("vollkorn/vollkorn-bolditalic.woff"), "vollkorn/vollkorn-bolditalic.eot", bold, italic);

.font-primary {
	font-family: "Trebuchet MS", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

.font-secondary {
	font-family: "Vollkorn", Georgia, Times, "Times New Roman", serif;
}

// Body

html {
	overflow-x:hidden;
}

body {
	overflow-x:hidden;
	counter-reset: examples approaches;
	@extend .font-primary;
	background-color: #F5F5F5;
	color: #333;
	font-size: percentage(15/16);
	line-height: (24/18);
	max-width: 1680px;
	margin: 0 auto;
	@include mq($medium) {
		font-size: 100%;
	}
	@include mq($big) {
  	font-size: 112.5%;
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

p {margin-bottom: 0;}
p+ul {
	margin-top: .5em;
	li:first-child p:first-child {
		margin-top: 0;
	}
}

ul {
	&.nobullets {
		padding: 0;
		li {
			list-style: none;
		}
	}
}

.ex, .ap {
	&:before {
		color: #930;
	}
}

.ex {
	counter-increment: examples;
	&:before {
		content: 'Example ' counter(examples) ': ';
	}
}

.ap {
	counter-increment: approaches;
	&:before {
		content: 'Approach ' counter(approaches) ': ';
	}
}

h2 {
	.content > .inner & {
		padding-top: 1em;
	}
}

code {
	font-size-adjust: 0.45;
	font-size:1em;
	line-height: 1;
}

// Header

header[role=banner] {
	@include container();
	border-top: 5px solid #930;
	div {
		background-color: #005A9C;
		margin: 0 auto;
		@include mq($medium) {
			float: right;
		}
	}
	img {
		display:inline-block;
		vertical-align: middle;
		background: #2471AA;
	}
	a {
			text-decoration: none;
			display: inline-block;
			&:hover, &:focus {text-decoration: underline;}
	}
	.wai {
	}
}

// Main

#tools {
	@include container-full();
	margin: 2em 0;
	background-color: #eee;
	font-size: 1.5em;

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow:hidden;
	}
	li {
		width: 45%;
		line-height: 1.1;
		box-sizing:border-box;
		> span {
			display:inline-block;
			padding: .25em 0;
			.dir {
				font-size: 0.75em;
				text-align: left;
				display: block;
			}
		}
		a {
			display:block;
			text-decoration: none;
			position: relative;
			&:hover, &:focus {
				text-decoration: underline;
			}
			&:before, &:after {
				font-size: 0.75em;
				content: '';
				position: absolute;
				bottom:.25em;
			}
		}
		&.prev {
			float:left;
			padding-left: 1em;
			a:before {
				left: -1.25em;
				@extend .icon;
				@extend .icon-arrow-left;
				@extend .icon-with-visible-text;
			}
		}
		&.next {
			float:right;
			text-align: right;
			padding-right: 1em;
			a:after {
				right: -1.25em;
				@extend .icon;
				@extend .icon-arrow-right;
				@extend .icon-with-visible-text-before;
			}
		}
	}
}

.mainpage {
	margin-bottom: 0;
	font-weight: normal;
	position: relative;
	border-bottom:10px solid #F5F5F5;
	a {
		display: block;
		background-color: #036;
		color: #fff;
		font-size: 1em;
		line-height: 1.5;
		padding: 0 .25em .25em;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
		&:before {
			@extend .icon;
			@extend .icon-with-visible-text;
			@extend .icon-home;
			content: "";
			vertical-align: top;
		}
	}
}

main {
	display:block;
	@include container();
}

// Footer
//
// Markup: <footer role="contentinfo"></footer>

footer {
	display: block;
	clear:both;
	border: 5px solid #993300;
	border-width: 5px 0;
	font-size: 0.8em;
	margin-top: 2em;
	padding: 1em 0;
	>div {
		@extend main;
	}
	h2 {
		@extend .visuallyhidden;
		font-size: 1em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
}



// Headings
//
// Markup: <h1>Heading Level 1</h1>
// <h2>Heading Level 2</h2>
// <h3>Heading Level 3</h3>
// <h4>Heading Level 4</h4>
// <h5>Heading Level 5</h5>
// <h6>Heading Level 6</h6>
//
// Styleguide 1.4

h1, h2, h3, h4 {
	@extend .font-secondary;
	font-weight: normal;
	.subheading {
		display: block;
		@extend .font-primary;
		font-size: 0.55em;
		margin: 0.25em;
	}
	* > &:first-child {
		margin-top:0;
	}
}

.page-title {
	font-size: 1.75em;
	@extend .font-secondary;
	margin-bottom: 1em;
	line-height: 1;
	padding: .25em 0 0;
	.subheading {
		padding: .25em 0 0;
		display:block;
		font-size: .5em;
		@extend .font-primary;
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

a {
	color: #036;
	.content &:visited {
		color: #663366;
	}
	&:hover, &:focus {
		color: #005A9C;
		cursor: pointer;
	}
}

.notes {
	// padding-left: 1.5em;
	color: #444;
	font-size: percentage(16/18);
	/*&:before {
		@extend .icon;
		@extend .icon-info;
		content: '';
		float: left;
		margin-left: -1.5em;
	}*/
}

.bulletless {
	&, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.breadcrumb {
	.icon {
		font-size: percentage(13/18);
	}
}

.list-heading {
	ul + & {
		margin-top: 2em;
	}
	position: relative;
	@extend .font-primary;
	font-size: 1em;
	margin: 0;
	text-align: center;
	background-color: #777;
	border-bottom: 2px solid #ddd;
	color: #fff;
	line-height: percentage(44/18);
	font-weight: bold;
	-moz-osx-font-smoothing: grayscale;
	&:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(119, 119, 119, 0); border-top-color: #777; border-width: 7px; margin-left: -7px; z-index: 500; }
}

.alltutorials {
	a {
		@extend .btn;
	}
}

.navigation {
	ul {
		background-color: #ddd;
		counter-reset: navli;
		&.topics {
			a, .current-a {
				&:before {
					content: "\00a0"; // Don’t display counter
				}
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		/*border: 1px solid #aaa;
		border-width: 1px 2px;*/
		li {
			list-style-type: none;
			counter-increment: navli;     /* Increment the section counter */
			&.intro, &.tips {
				counter-increment: none;
				a, .current-a {
					&:before {
						content: "\00a0"; // Don’t display counter
					}
				}
			}
			a, .current-a {
				line-height: percentage(44/18);
				&:before {
					display:inline-block;
					width: 1.75em;
					margin-right: 0.75em;
					text-align: center;
					border-right: 1px solid #777;
					content: counter(navli); /* Display the counter */
				}
				text-decoration: none;
				//padding: (.25em * 1.5);
				display:block;
				/*border: 1px solid #aaa;
				border-width: 1px 0;*/
				position: relative;
			}
			a {
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
			.current-a {
				background-color: #fff;
				color: #333;
				&:before {
					background-color: #777;
					color: #fff;
				}
				&:after {
					left: 1.75em; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 0, 0, 0); border-left-color: #777; border-width: 7px; margin-top: -7px;
				}
			}
		}
	}
}

.tutorial-heading {
	h1 {
		margin-bottom: 0;
		font-size: percentage(42/18);
		font-weight: normal;
		position: relative;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p {
		padding: 0;
		margin: 0;
	}
}

.with-side-menu {
	@include mq($medium) {
		@include container();
	}
	.navigation {
		@include mq($medium) {
			@include column(4);
		}
		@include mq($big) {
			@include column(3);
		}
		@include mq($large) {
			@include column(2);
		}
	}
	.content {
		@include mq($medium) {
			@include column(8);
			@include push(4);
		}
		@include mq($big) {
			@include column(9);
			@include push(3);
		}
		@include mq($large) {
			@include column(10);
			@include push(2);
		}
	}
}

.content {
	@include container-full();
	h2 {
		margin-top:0;
	}
	&.draft, &.editors-draft{
		h1 {
			&:after {
				display: inline-block;
				@extend .font-primary;
				font-weight: bold;
				padding: 0 .2em;
				vertical-align: middle;
				font-size: .5em;
				margin-right: .25em;
			}
		}
	}
	&.draft {
		h1 {
			&:after {
				content: "DRAFT";
				background-color: #CFC;
			}
		}
	}
	&.editors-draft {
		h1 {
			&:after {
				content: "ROUGH DRAFT";
				background-color: #FCC;
			}
		}
	}
	.inner {
		@include mq($big) {
			@include column(8);
		}
		padding:0 !important;
	}
	.annotation {
		@include mq($medium) {
			width: percentage(1/2) - 6%;
			margin-left: 1%;
		}
		@include mq($big) {
			width: percentage(1/2) - 4%;
			margin-right: -1 * percentage(1/2);
		}
		padding-left:1%;
		float:right;
		border-left: 2px solid #930;
		margin-top: 1em;
		.annotation-header {
			margin-top:0;
			margin-bottom: 0;
			// font-weight: bold;
			color: #930;
		}
		.annotation-content {
			font-size: percentage(16/18);
			:first-child {
				margin-top: 0;
			}
			:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.status {
	padding: .25em;
	h3, p {
		display:inline;
		color: inherit;
		font-size: 1em;
	}
	.draft & {
		background-color: #CFC;
	}
	.editors-draft & {
		background-color:#FCC;
	}
}



%noting {
	position: relative;
	&:before, &:after {
		position:absolute;
	}
	&:after {
		font-weight: bold;
		display: block;
		transform-origin: left bottom;
		transform: rotate(90deg);
		top:-1em;
		left: calc(100% - 1.5em);
	}
	&:before {
		content: '';
		right: 0;
		top:0;
		width:1.5em;
		bottom:0;
	}
}

.todo {
	@extend %noting;
	background-color: lighten(#f00, 40%);
	&:after {
		content: "TODO";
		color: #fff;
	}
	&:before {
		background-color: #f00;
	}
}

figure {
	clear: both;
	margin: 1em 0;
	@include mq($big) {
		clear: none;
	}
	&.sample, &.code {
		@extend .box;
		> figcaption {
			@extend .box-caption;
		}
		> .figcontent {
			@extend .box-content;
		}
	}
	p {
		@extend .box-content;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	&.code {
		//width:150%;
		@extend .box-secondary;
		pre {
			background: none;
			font-size: 0.9em;
			margin: 0;
			@extend .box-content;
		}
	}
	&.sample {
		@extend .box-primary;
		figcaption {
			color: #036;
		}
	}
}

.box {
	margin: 1em 0;
	border-left: 5px solid;
	background-color: #E8E8E8;
}
.box-primary {
	border-color: #036;
}
.box-secondary {
	border-color: #777;
}
.box-caption {
	font-weight: bold;
	padding: .375em .75em 0;
	text-transform: uppercase;
	font-size: 0.75em;
	@extend .font-primary;
	.box-primary & {
		color: #036;
	}
	.box-secondary & {

	}
}
.box-content {
	overflow:auto;
	padding: .5em;
	>p, >ul, >ol {
			&:first-child {
			margin-top: 0;
		}
	}
	>p, >ul, >ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Table

table {
	th {
		text-align: left;
		background-color: #ccc;
	}
	th, td {
		padding: .5em;
		border: 1px solid #999;
	}
	&.results {
		clear: both;
		width: 100%;
		.result {
			text-align: center;
		}
	}
}

// Forms

.form-submitTestCase {
	width:75%;
	margin: 0 auto;
}

form {
	fieldset {
		margin-bottom: 1em;
		legend + p {
			margin-top: 0;
		}
	}
	button {
		&[type=submit] {
			float:right;
		}
	}
}

// Search input

[role=search] {
	input {

	}
}

// Form Block

.form-block {
	display: table;
	width: 100%;
	border: 1px solid #999;
	border-radius: .5em;
}

// Form Row

.form-row {
	display: table-row;
	label, > span {
		border-top: 1px solid #999;
		display: table-cell;
		vertical-align: middle;
		padding: .5em;
	}
	&:first-child {
		label, > span {
			border-top: none;
		}
	}
	&:nth-child(even) {
		background-color: #f3f3f3;
	}
	&:nth-child(odd) {
		background-color: #eee;
	}
	label {
		width: 25%;
	}
	input, select, textarea {
		width: 90%;
	}
	textarea {
		height: 3em;
	}
}

// Selects

select {
	padding: .25em;
	font-size: 1em;
}

// Buttons

.btn {
	background: linear-gradient(to bottom, lighten(#ccc, 10%), #ccc);
	color: #333;
	font-weight: normal;
	font-size: 1em;
	line-height: percentage(44/18);
	padding: .25em .5em;
	border: {
		color: #ccc;
		width: 1px;
		style: solid;
		radius: .25em;
	}
	&:hover {
		color: #333;
	}
}

.btn-primary {
	@extend .btn;
	background: linear-gradient(to bottom, lighten(#036, 10%), #036);
	color: #fff;
	border-color: darken(#036, 10%);
	&:hover, &:focus {
		color: #fff;
		text-decoration: underline;
	}
}

.btn-small {
	@extend .btn;
	padding: .15em .2em;
	line-height: 1;
}

.btn-icon {
	border: none;
	background-color: transparent;
	padding: 0;
}

.btn-next {
	float:right;
}

.btn-jump {
	display: block;
	margin: 0 1em 1em;
	text-align: center;
	@include mq($medium) {
		position: absolute;
		left: -1000em;
	}
}

.permalink {
	@extend .font-primary;
	display: inline-block;
	color: #666;
	font-size: .8em;
	vertical-align: middle;
	position: relative;
	span {
		@extend .visuallyhidden;
		position: absolute;
		font-size: 0.75em;
		line-height: 1.1;
		left: 2.5em;
		top:0%;
		min-width: 9em;
		padding: 3px 7px !important;
		border-radius: 3px;
		background-color: #555;
		color: #fff;
		&:after {
			right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(85, 85, 85, 0); border-right-color: #555; border-width: 10px; margin-top: -10px;
		}
	}
	&:hover, &:focus {
		span {
			clip: auto;
			height: auto;
			overflow: visible;
		}
	}
	&:before {
		content: '';
		@extend .icon;
		@extend .icon-link;
	}
}

/* ====== ICONS   ======== EDIT ABOVE! ======== */

.icon {
	display:inline-block;
	height: 1em;
	width: 1em;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
	vertical-align: middle;
}

.icon-with-visible-text {
	margin-right:.25em;
}

.icon-with-visible-text-before {
	margin-left:.25em;
}

@import 'icons-png';
.svg {
	@import 'icons-svg';
}

/* ====== HELPERS ======== EDIT ABOVE! ======== */

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.hasfocus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

// Grid System

// Column wrapper

.grid {
	@include container();
}

.with-filter {
	clear: both;
	@include mq($medium) {
		h3>button {display:none;}
		.column-first {
			@include column(4);
		}
		.column-second {
			@include column(8);
			@include push(4);
		}
	}
	&.with-basket {
		@include mq($medium) {
		h3>button {display:none;}
		.column-first {
			@include column(3);
		}
		.column-second {
			@include column(7);
			@include push(3);
		}
		.column-third {
			@include column(2);
			@include push(10);
		}
	}
	}
}

.column {
	@include column(12);
}

@include mq($medium) {
	.onehalf {
		@include column(6);
	}
	.one3rd {
		@include column(4);
	}
	.two3rds {
		@include column(8);
	}
	.one4th {
		@include column(3);
	}
	.two4ths {
		@extend .onehalf;
	}
	.three4ths {
		@include column(9);
	}
	.one6th {
		@include column(2);
	}
	.two6ths {
		@extend .one3rd;
	}
	.three6ths {
		@extend .onehalf;
	}
	.four6ths {
		@extend .two3rds;
	}
	.five6ths {
		@include column(10);
	}
}

.last {
	@include column_omega();
}

// Flush right

.flush.right {
	float:right;
}

.technologies {
	@extend .annotation;
	border:none !important;
	margin-bottom: 2em;
	strong {
		display: block;
	}
	span {
		display: inline-block;
		border-radius:1em;
		line-height: 1;
		padding: 0 .45em;
	}
	.tech {
		background-color: #ddd;
		border: 1px solid;
	/*	span {
			padding: .125em .25em .125em .125em;
			border-radius: 0 1em 1em 0;
		}
		&.ok span {
			background-color: green;
			color: #fff;
		}
		&.wip span {
			background-color: yellow;
		}*/
	}
}

.side-box {
	border:1px solid #666 !important;
	border-radius: .5em;
	padding:1em;
	margin: 2em 0;
	.heading {
		font-weight: bold;
		font-size: 1em;
		margin: 0 !important;
		padding: 0 !important;
		+ p {
			margin-top: 0.5em;
		}
	}
}

.editpage {
	text-align: center;
	margin-top: 1em;
	padding: .5em 0 0;
	border-top: 1px solid #ccc;
}

[fragmention] {
	box-shadow: 0 0 10px #aaa;
}

[fragmention]:focus {
	box-shadow: 0 0 10px #036;
	outline-color: #036;
}
