<aside class="side-box github" role="complementary">
  <h2 class="heading">We welcome your ideas</h2>
  <p>Please send any ideas, suggestions, or comments to the <a href="mailto:wai-eo-editors@w3.org?subject=[Tutorial%20Feedback]">(publicly-archived) mailing list wai-eo-editors@w3.org</a>. You can also contribute to the <a href="https://github.com/w3c/wai-tutorials" rel="nofollow">code directly on Github</a>.</p>

	<div class="editpage">
  	<a class="btn" href="https://github.com/w3c/wai-tutorials/blob/master/source/<%= current_page.path %>.erb.md">Fork &amp; edit this page on Github</a>
	</div>

</aside>
