{%- assign col = site.collections | where: "label", page.collection | first -%}
{%- if page.changelog -%}
  {%- assign changelogpage=site.documents | where:"ref", page.changelog | first -%}
  {%- unless changelogpage.ref -%}
    {%- assign changelogpage=site.pages | where:"ref", page.changelog | first -%}
  {%- endunless -%}
  {% assign changelogpageurl = changelogpage.url | relative_url %}
  {%- capture changelogtext -%}
  {%- include_cached t.html t="Changelog" lang=page.lang -%}
  {%- endcapture -%}
  {%- assign changelog = '<a href="' | append: changelogpageurl | append: '">' | append: changelogtext | append: '</a>' -%}
{%- else -%}
  {%- assign changelog = "" -%}
{%- endif -%}
{%- if page.acknowledgements -%}
  {%- assign acknowledgementspage=site.documents | where:"ref", page.acknowledgements | first -%}
  {%- unless acknowledgementspage.ref -%}
    {%- assign acknowledgementspage=site.pages | where:"ref", page.acknowledgements | first -%}
  {%- endunless -%}
  {% assign acknowledgementspageurl = acknowledgementspage.url | relative_url %}
  {%- capture acknowledgementstext -%}
  {%- include_cached t.html t="Acknowledgements" lang=page.lang -%}
  {%- endcapture -%}
  {%- assign acknowledgements = '<a href="' | append: acknowledgementspageurl | append: '">' | append: acknowledgementstext | append: '</a>' -%}
{%- else -%}
  {%- assign acknowledgements = "" -%}
{%- endif -%}
{% if col.footer %}
<footer id="wai-page-footer" class="page-footer default-grid" aria-label="Page">
  <div class="inner">
    {{ col.footer | replace: "CHANGELOG", changelog | replace: "ACKNOWLEDGEMENTS", acknowledgements }}
    {%- if page.license == 'creative-commons' -%}<p>{% include_cached icon.html name="creative-commons" %} This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>{%- endif -%}
  </div>
</footer>
{% else %}
  {% if page.footer %}
  <footer id="wai-site-footer" class="page-footer default-grid" aria-label="Page">
    <div class="inner">
      {{ page.footer | replace: "CHANGELOG", changelog | replace: "ACKNOWLEDGEMENTS", acknowledgements }}
      {%- if page.license == 'creative-commons' -%}<p>{% include_cached icon.html name="creative-commons" %} This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>{%- endif -%}
    </div>
  </footer>
  {% endif %}
{% endif %}

{% comment %}

  META FOOTER

  For the tutorials, we used data to form the footer. This way of constructing the footer is now called “metafooter” and needs to be enabled by setting `metafooter: true` in the frontmatter. Do NOT use with raw html `footer: ` frontmatter.

{% endcomment %}
{% if page.metafooter %}
  <footer id="wai-site-footer" class="page-footer default-grid" aria-label="Page">
    <div class="inner">
      <div><strong>Status:</strong>
        {% if page.status == "approved-draft" %}
          Draft, approved by <a href="https://www.w3.org/WAI/EO/">EOWG</a>, updated
        {% elsif page.status == "draft" %}
          [DRAFT] updated
        {% elsif page.status == "editors-draft" %}
          [EDITOR’S DRAFT] updated
        {% else %}
          Updated
        {% endif %}
        {{ page.last_modified_at | date: '%d %B %Y' }}
        {% if page.first_published %}
        (first published {{ page.first_published }})
        {% endif %}
      </div>
      <div>
          Editors:
          {% for editor in page.editors %}
          {% if forloop.first %}<ul class="sentence">{% endif %}
            {% assign editorsize = editor | size %}
            {% if editorsize == 1 %}
              {% assign editor1 = editor | replace: '"}', '' %}
              {% assign editor2 = editor1 | replace: '{"', '' %}
              {% assign editor3 = editor2 | split: '"=>"' %}
            <li><a href="{{ editor3[1] }}">{{ editor3[0] }}</a></li>
            {% else %}
            <li>{{ editor }}</li>
            {% endif%}
          {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
      </div>
      <div>
          Contributors:
          {% for contributor in page.contributors %}
          {% if forloop.first %}<ul class="sentence">{% endif %}
            {% assign contributorsize = contributor | size %}
            {% if contributorsize == 1 %}
              {% assign contributor1 = contributor | replace: '"}', '' %}
              {% assign contributor2 = contributor1 | replace: '{"', '' %}
              {% assign contributor3 = contributor2 | split: '"=>"' %}
            <li><a href="{{ contributor3[1] }}">{{ contributor3[0] }}</a></li>
            {% else %}
            <li>{{ contributor }}</li>
            {% endif%}
          {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
      </div>
      {% if page.support %}
        <p>{{  page.support  }}</p>
      {% endif %}
      {% if page.changelog or page.acknowledegments  %}
        <p>{{ changelog }}, {{ acknowledgements }}</p>
      {% endif %}
      {{ page.footer | replace: "CHANGELOG", changelog | replace: "ACKNOWLEDGEMENTS", acknowledgements }}
      {%- if page.license == 'creative-commons' -%}<p>{% include_cached icon.html name="creative-commons" %} This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>{%- endif -%}
    </div>
  </footer>
{% endif %}

<footer class="site-footer grid-4q" aria-label="Site">
  <div class="q1-start q3-end about">
    <div>
      <p><a class="largelink" href="https://www.w3.org/WAI/" lang="en" dir="auto" translate="no">W3C Web Accessibility Initiative (WAI)</a></p>
      <p>{% include t.html t="Strategies, standards, and supporting resources to make the Web accessible to people with disabilities." %}</p>
    </div>
    <div class="social" lang="en" dir="auto" translate="no">
      <ul>
        <li><a href="https://twitter.com/w3c_wai">{%include_cached icon.html name="twitter" %} Twitter</a></li>
        <li><a href="https://www.w3.org/WAI/feed.xml">{%include_cached icon.html name="rss" %} Feed</a></li>
        <li><a href="https://www.youtube.com/channel/UCU6ljj3m1fglIPjSjs2DpRA/playlistsv">{%include_cached icon.html name="youtube" %} YouTube</a></li>
        <li><a href="https://www.w3.org/WAI/news/subscribe/" class="button">Get News in Email</a></li>
      </ul>
    </div>
    <div lang="en" dir="auto" {% if site.data.lang[pagelang].rtl %}style="text-align: right;"{% endif %} translate="no">
      <p>Copyright &#xA9; {{ 'now' | date: "%Y" }} W3C <sup>&#xAE;</sup> (<a href="https://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="https://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="https://www.keio.ac.jp/">Keio</a>, <a href="https://ev.buaa.edu.cn">Beihang</a>) <a href="{{ "/about/using-wai-material/" | relative_url }}">Permission to Use WAI Material</a>.</p>
    </div>
  </div>
  <div lang="en" dir="auto" {% if site.data.lang[pagelang].rtl %}style="text-align: right;"{% endif %} translate="no" class="q4-start q4-end">
    <ul style="margin-bottom:0">
      <li><a href="{{ "/about/contacting/" | relative_url }}">Contact WAI</a></li>
      <li><a href="{{ "/sitemap/" | relative_url }}">Site Map</a></li>
      <li><a href="{{ "/news/" | relative_url }}">News</a></li>
      <li><a href="{{ "/sitemap/#archive" | relative_url }}">Archive</a></li>
      <li><a href="{{ "/about/accessibility-statement/" | relative_url }}">Accessibility Statement</a></li>
      <li><a href="{{ "/translations/" | relative_url }}"> Translations</a></li>
      <li><a href="{{ "/roles/" | relative_url }}">Resources for Roles</a></li>
    </ul>
  </div>
</footer>
{%- unless site.published == true -%}
<section class="default-grid info" tabindex="0">
  <p class="inner">{% if site.warning_icon %}{% include_cached icon.html name="info" %} {% endif %}{% if site.warning_message %}{{site.warning_message}}{% else %}This is an unpublished draft preview that might include content that is not yet approved. The published website is at <a href="https://www.w3.org/WAI/">w3.org/WAI/</a>.{% endif %}
  </p>
</section>
{%- endunless -%}
<!-- Details4Everybody -->
<script src="{{ '/assets/scripts/details4everybody.js' | append: timestamp | relative_url }}"></script>
<!-- SVG4Everybody -->
<script src="{{ '/assets/scripts/svg4everybody.js' | append: timestamp | relative_url }}"></script>
<script>
  svg4everybody();
</script>
{%- assign defaultlang = false -%}
{%- if include.lang == "en"-%}{%- assign defaultlang = true -%}{%- endif -%}
{%- if include.lang == ""-%}{%- assign defaultlang = true -%}{%- endif -%}
{%- if include.lang == "en_US"-%}{%- assign defaultlang = true -%}{%- endif -%}
{%- if defaultlang == true -%}
<script>
  var translationStrings = {};
</script>
{% else %}
<script src="{{ '/assets/scripts/lang/' | append: page.lang | append: '.js' | append: timestamp | relative_url }}"></script>
{%- endif -%}
<!-- Matomo -->
<script>
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.w3.org/analytics/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '328']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//www.w3.org/analytics/piwik/piwik.php?idsite=328&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
