---
title: Caption
status: draft
order: 3
---

A table caption can be used to provide a heading for the table as a
hole. This is not required to meet WCAG 2.0, but is considered best
practice because the `<caption>` element is explicitly associated with
the table. The `<caption>` value should be a succinct description of the
content of the table.

Examples on the [Header cells page](../headers) use other ways to introduce
tables, but this and all other pages in this tutorial apply the
`<caption>` element to tables.

### Example 1: `<caption>` used as a table heading

This example has the table heading marked up using the `<caption>`
element, its value "Concert dates" tells users what information the
table contains.

<%= sample_start %>

<table>
	<caption>Concert dates</caption>
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Venue</th>
	</tr>
	<tr>
		<td>12 Feb</td>
		<td>Waltz with Strauss</td>
		<td>Main Hall</td>
	</tr>
	<tr>
		<td>24 Mar</td>
		<td>The Obelisks</td>
		<td>West Wing</td>
	</tr>
	<tr>
		<td>14 Apr</td>
		<td>The What</td>
		<td>Main Hall</td>
	</tr>
</table>

<%= sample_end %>

<%= code_start %>

~~~ html
<table>
	<caption>Concert dates</caption>
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Venue</th>
	</tr>
	<tr>
		<td>12 Feb</td>
		<td>Waltz with Strauss</td>
		<td>Main Hall</td>
	</tr>
	[…]
</table>
~~~

<%= code_end %>

### Related WCAG2.0 Techniques

The following WCAG 2.0 technique was used in the example above

-   [H39: Using caption elements to associate data table captions with
    data
    tables](http://www.w3.org/TR/2012/NOTE-WCAG20-TECHS-20120103/H39)
